# Dependencies
node_modules

# Build outputs
dist
css/*.min.css
js/*.min.js

# Lock files
package-lock.json
pnpm-lock.yaml
yarn.lock

# Logs
*.log

# Fonts
fonts/

# Images
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.ico
*.webp

# Other
.git
.DS_Store
